.ProjectCardInfo {
    display: flex;
    position: relative;
    margin-top: 1em;
    height: 24em;
    width: 20em;
    border: 2px solid var(--borderColor);

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1em;
    overflow: scroll;

    transition: var(--animDuration) all ease;

    &:hover {
        transform: translateY(-2px);
        .DeleteButton {
            background: var(--hover);
            filter: opacity(80%);
            display: flex;
        }
    }
}

.Major {
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: 500;
}

.Image {
    > img {
      height: 100%;
      width: auto;
    }
  }

.ProjectInfo {
    display: block;
    position: relative;
    height: fit-content;
    width: 100%;

    font-size: 1.1em;
    font-weight: 300;
}

.Span {
    font-weight: 600;
    font-size: 1em;
    margin-right: 0.8em;
}

.Apply {
    margin-top: 10px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;

    /* Styles for the individual project card */
    background-color: #00ff2f;
    border: 1px solid #e0e0e0;
    border-radius: 5 px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 0.5em;
    flex-direction: column;
}

.TrashContainer {
    height: 2.5em;
    width: 2.5em;

    padding: 0.25em;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 10px;

    .Trash {
        height: 100%;
        width: 100%;
        filter: var(--svgFilter);
        margin-right: 1em;
    }

    &:hover {
        background: var(--hover);
    }

}