.PortalEvent {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: calc(100vw - 5.5em);
  padding: 5em;
}

.Major {
  font-size: 3.3em;
  font-weight: 700;
  // margin-bottom: 1em;
}

.Minor {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1em;
}

.TextBox {
  width: 100%;
  height: 10em;
  padding: 1em;
  font-size: 1.4em;
}

input,
textarea {
  margin-bottom: 10px;
}

.Left {
  width: 50%;
  min-width: 250px;
}

.Right {
  display: block;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  min-width: 250px;
}
