$bg: #dce5f2;
$fill: #1a2554;
$borders: #c4ccd7;
$text: #7C8297;

.Signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  flex-direction: column;
}

.Panel {
  display: block;
  position: relative;
  width: 80%;
  max-width: 1200px;
  height: 80%;
  // border: 1px solid black;
  background: $bg;
  border-radius: 40px;
}

.PanelHalf {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 30px;
}

.PanelLeft {
  background: red;
  height: calc(100% - 40px);
  width: calc(50% - 40px);
  margin: 20px;
}

.PanelRight {
  color: $text;
  border-color: $borders;
}
