.PortalTeams {
}

.DescriptionInput {
    width: 100%;
    padding: 0.5em;
    min-height: 6em;
}

.TeamPage {
}

.TextInput {
  width: 15em;
  // height: 15em;
  align-self: stretch;
  margin: 0;
  padding: 0.5em;
}
