.Tag {
  display: inline-block;
  background: rgb(24, 26, 68);
  padding: 2px 5px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid rgba($color: #fff, $alpha: 1);
  font-size: 0.8em;
  margin-right: 10px;
}
