.Header {
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  > h1 {
    display: inline-block;
    width: fit-content;
    margin-right: 10px;
  }
  > a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
  }

  > h1, > a {
    font-size: 2.3em;
    font-weight: 500;
  }
}
