.PortalAccount {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: calc(100vw - 5.5em);
  padding: 5em;
}

.Major {
  font-size: 3.3em;
  font-weight: 700;
  // margin-bottom: 1em;
}

.Minor {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1em;
}

.qrcode {
  padding: 2em;
  background: var(--hover);
  border-radius: 15px;
  width: 275px;
  max-width: 100%;
}

@media only screen and (max-width: 1000px) {
  .qrcode {
    padding: 0;
  }
}
