.EventCard {
  display: flex;
  position: relative;
  height: 20em;
  width: 20em;
  border: 2px solid var(--borderColor);

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;

  transition: var(--animDuration) all ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.BigEventCard {
  width: calc(40em + 20px);
  max-width: 100%;
  // width: 100%;
  flex-direction: row;
  .Image {
    margin: 10px 0 10px 10px;
    height: calc(100% - 20px);
    width: calc(30% - 10px);
    border-radius: 10px;
    > img {
      height: 100%;
      width: auto;
    }
  }
  .Content {
    height: 100%;
    width: 70%;
    padding: 10px 20px;
  }
}

.StickyEventCard {
  position: sticky;
  top: 0;
}

.Image {
  position: relative;
  display: block;
  width: calc(100% - 20px);
  height: calc(35% - 10px);
  // border-bottom: 1px solid var(--borderColor);
  background: var(--foreground);
  margin: 10px 10px 0 10px;

  border-radius: 10px;
  overflow: hidden;

  // background image
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  //   border: 1px solid blue;
  > img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Content {
  // flex-grow: 1;
  height: 70%;
  width: 100%;
  display: block;

  padding: 10px;
  overflow: hidden;
  //   border: 1px solid yellow;
}

.When {
  font-size: 0.9em;
  flex: 0 1 auto;
}

//the heading
.Major {
  font-size: 1.5em;
  flex: 0 1 auto;
}

.Location {
  font-size: 0.9em;
  flex: 0 1 auto;
  color: var(--borderColor);
}

.Description {
  font-size: 1em;
  width: 100%;
  flex: 1 1 auto;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.Link {
  background-color: var(--foreground);
  color: var(--background);
  padding: 4px 10px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  user-select: none;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    filter: brightness(0.8);
  }
}
