.JsonBlock {
  background: rgb(24, 26, 68);
  // padding: 10px 20px;
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid rgba($color: #fff, $alpha: 1);
  margin: 10px 0;

  overflow: auto;
  // overflow: hidden;
  > pre {
    margin: 10px 20px;
    overflow-x: auto;
  }
}

.Sticky {
  position: sticky;
  top: 0;
}

.NoMargin {
  margin: 0;
}

.SuccessHeader,
.FailHeader,
.InputHeader {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.SuccessHeader {
  background: green;
}

.FailHeader {
  background: red;
}

.InputHeader {
  background: gray;
}

@media only screen and (max-width: 1000px) {
  .JsonBlock { 
    max-width: 100%;
  }
}
