.FormItem {
  display: block;
  border: 2px solid var(--theme);
  border-radius: 5px;
  // padding: 0.5em;
  font-size: 1.1em;
  max-width: 30%;

  cursor: pointer;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    .FormArrow {
      margin-left: 0.5em;
    }
  }
}

.LabelBox {
  display: flex;
  padding: 0.5em;
  align-self: stretch;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--theme);
  color: #fff;
}
.FormLabel {
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.FormContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5em 0.5em;
  gap: 10px;
}

.FormName {
  font-size: 1em;
  line-height: 1em;
}

.FormTime {
  color: var(--borderColor);
  font-size: 0.8em;
  line-height: 1em;
}

.FormArrow {
  padding: 0 0.5em 0 0;
  transition: var(--animDuration) margin-left ease;
}
