.PortalAnnounce {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: calc(100vw - 5.5em);
  padding: 5em;
}

.Major {
  font-size: 3.3em;
  font-weight: 700;
  // margin-bottom: 1em;
}

.Minor {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1em;
}

.TextBox {
  width: 100%;
  height: 300px;
  padding: 1em;
  font-size: 1.4em;
}

.AnnConfirm {
  display: block;
  background: #333;
  color: #eee;
  padding: 5px;
}
