.PortalForms {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: calc(100vw - 10em);
  padding-left: 10em;
  padding-top: 5em;
}

.Major {
  font-size: 3.3em;
  font-weight: 700;
  // margin-bottom: 1em;
}

.Minor {
  font-size: 1.5em;
  font-weight: 500;
  // margin-bottom: 1em;
}

.SideBySide {
  flex-grow: 1;
  align-self: stretch;
}
