.Sidebar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;

  width: 300px;
  height: 100%;
  // border: 1px solid red;
  border-right: 1px solid var(--borderColor);
  background: var(--background);
  z-index: 6;

  transition: var(--animDuration) width ease;
}

.SidebarItems {
  height: calc(100% - 15em);
  overflow: auto;
}

.Header {
  display: flex;
  position: relative;
  height: 5em;
  width: 100%;
  border-bottom: 1px solid var(--borderColor);

  justify-content: center;
  align-items: center;

  > h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--theme);
  }
}

.User {
  display: flex;
  height: 5em;
  width: 100%;
  border-top: 1px solid var(--borderColor);

  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 5em;
  left: 0;

  .Fname {
    font-size: 1.3em;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--foreground);
  }
  .Role {
    display: -webkit-box;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--foreground);
    text-align: center;
    text-overflow: ellipsis;
    max-width: 100%;
    -webkit-box-orient: vertical;
    /* Needed to make it work */
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}

.Logout {
  display: flex;
  height: 5em;
  width: 100%;
  border-top: 1px solid var(--borderColor);

  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 1em;
  .LogoutWrapper {
    display: flex;
    position: relative;
    border-radius: 15px;
    padding: 1em 1.1em;
    user-select: none;
    cursor: pointer;
    align-items: center;
    width: 100%;

    color: var(--foreground);
    &:hover {
      // background: red;
      background: var(--hover);
      .Icon {
        filter: invert(13%) sepia(57%) saturate(7498%) hue-rotate(358deg)
          brightness(109%) contrast(119%);
      }
      .ItemText {
        color: red;
      }
    }

    .Icon {
      height: 20px;
      width: 20px;
      filter: var(--svgFilter);
    }

    .ItemText {
      font-size: 1em;
      font-weight: 500;
      text-transform: capitalize;
      margin-left: 10px;
    }
  }
  .Open {
    .ItemText {
      display: block;
    }
  }
  .Closed {
    .ItemText {
      display: none;
    }
  }
}

.Footer {
  display: flex;
  height: 5em;
  width: 100%;
  border-top: 1px solid var(--borderColor);

  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
}

// //manage themes
// .Light {
//   --background: #fff;
//   --foreground: #000;
//   --svgFilter: none;
// }
// .Dark {
//   --background: #222;
//   --foreground: #fff;
//   --hover: #444;
//   --svgFilter: invert(99%) sepia(13%) saturate(0%) hue-rotate(81deg)
//     brightness(113%) contrast(100%);
// }
// .Black {
//   --background: #000;
//   --foreground: #fff;
//   --hover: #222;
//   --svgFilter: invert(99%) sepia(13%) saturate(0%) hue-rotate(81deg)
//     brightness(113%) contrast(100%);
// }

.OpenClose {
  display: flex;
  position: absolute;
  top: 5em;
  right: 0;
  height: 30px;
  width: 30px;
  transform: translate(50%, -50%);
  z-index: 3;

  background: var(--background);
  border: 1px solid var(--borderColor);
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  > img {
    display: block;
    position: relative;
    height: 60%;
    width: 60%;
    filter: var(--svgFilter);
    transform: none;

    transition: var(--animDuration) transform ease;

    &[data-open="true"] {
      //open
      transform: rotate(180deg);
    }
  }
}

.Open {
  width: 14em;
}
.Closed {
  width: 5.5em;
}
