.PortalProjects {
    display: block;
    width: 100%;
    min-height: 100vh;
    max-width: calc(100vw - 5.5em);
    padding-left: 10em;
    padding-top: 5em;
}

.Major {
    font-size: 3.3em;
    font-weight: 700;
    // margin-bottom: 0.5em;
}
  
.Minor {
    font-size: 1.5em;
    font-weight: 500;
    // margin-bottom: 1em;
}