.PortalProjects {
    display: block;
    width: 100%;
    min-height: 100vh;
    max-width: calc(100vw - 5.5em);
    padding-left: 10em;
    padding-top: 5em;
}

.TextBox {
    border-radius: 0.8em;
    padding: 1em;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    width: 100%;
    height: 100px;  
}

.Success {
    color: green;
}

.Error {
    color: red;
}

.Major {
    font-size: 3.3em;
    font-weight: 700;
}

.Question {
    margin-bottom: -15px;
    margin-top: 15px;
}

.Minor {
    font-size: 1.5em;
    font-weight: 500;
}

.Text {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
}

.SAQ {
    margin-top: 0.8em;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}

.ProjectCard {
    background-color: #00ff2f;
    border: 1px solid #e0e0e0;
    border-radius: 5 px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
}