.PortalProjects {
    display: block;
    width: 100%;
    min-height: 100vh;
    max-width: calc(100vw - 5.5em);
    padding-left: 10em;
    padding-top: 5em;
}

.Major {
    font-size: 3.3em;
    font-weight: 700;
    // margin-bottom: 0.5em;
}
  
.Minor {
    font-size: 1.5em;
    font-weight: 500;
    // margin-bottom: 1em;
}

.Cards {
    /* Define the styles for the .Cards class here */
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    // add more here
}

.ProjectCard {
    /* Styles for the individual project card */
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5 px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
}





