// $bg: #dce5f2;
// // $fill: #1a2554;
// $borders: #c4ccd7;
// $text: #7c8297;
// $fill: #445379;

.InputField {
  display: inline-block;
  height: 52px;
  //   border: 1px solid red;
  position: relative;
  margin-top: 1.2em;
  margin-bottom: 10px;
  overflow: visible;
  z-index: 3;
  > label {
    display: block;
    position: absolute;
    z-index: 1;
    top: 17px;
    left: 20px;
    font-size: 1em;
    line-height: 1em;
    // border: 1px dashed blue;
    transition: 0.3s all ease;
    text-transform: capitalize;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    font-weight: 500;

    // color: rgba($color: $text, $alpha: 0.7);
    color: var(--foreground);

    > span {
      display: none;
      position: relative;
      font-size: inherit;
      color: green;
      margin-left: 6px;
    }
    > i {
      display: none;
      position: relative;
      font-size: inherit;
      color: orange;
      margin-left: 2px;
    }
  }
  > input {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 4px 20px;
    // border: 2px solid $borders;
    border: 2px solid var(--borderColor);
    // border: 2px solid rgb(32 163 158);
    border-radius: 5px;
    outline-offset: 2px;
    font-size: 1em;
    // background: #fff;
    background: var(--background);
    // color: $text;
    color: var(--foreground);
    font-weight: 500;
    &:not(:placeholder-shown) ~ label,
    &:focus ~ label {
      // top: -1.3em;
      top: -1.15em;
      // left: 0;
      // color: rgb(32 163 158);
      // color: inherit;
      font-size: 1em;
      // background-color: var(--background);
    }
  }
}

.validIndicater {
  &:valid ~ label > span {
    display: inline-block;
  }
}

.Required {
  display: inline-block !important;
}

.eye {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  top: 50%;
  height: 26px;
  transform: translate(0, -50%);
  width: 26px;

  filter: var(--svgFilter);

  > input[type="checkbox"] {
    display: none;
    &:checked + label {
      background: url("../../assets/icons/eye1.svg");
    }
  }
  > label {
    height: 100%;
    width: 100%;
    background: url("../../assets/icons/eye2.svg");
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
  }
}

.InputFieldSubmit {
  height: 52px;
  width: auto;
  margin: 1em 0;
  > input {
    // background: rgb(32 163 158);
    // background: $fill;
    // background: var(--foreground);
    background: none;
    // color: #fff;
    color: var(--foreground);
    border: 2px solid var(--borderColor);
    font-size: 1.2em;
    float: right;
    position: relative;

    height: 100%;
    width: 100%;
    padding: 10px 20px;

    border-radius: 500px;
    transition: 0.3s all ease;
    cursor: pointer;

    // border: none;
    &:hover {
      background: var(--hover);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

._hasHelper {
  &:focus ~ div {
    visibility: visible;
  }
}

.PasswordInputField {
  > input {
    padding-right: 50px;
  }
}
