.Docs {
  display: block;
  position: relative;
  width: 100%;
  height: fit-content;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background: rgb(17, 18, 49);
  color: #fff;
}

.DocsHeader {
  display: block;
  position: fixed;
  width: 20%;
  height: 5em;

  border: 1px solid black;
}

.DocsBody {
  display: block;
  position: relative;
  width: 100%;
  height: fit-content;
  //padding-top: 5em;
}

.DocsSidebar {
  display: block;
  position: fixed;
  height: calc(100% - 5em);
  border: 1px solid red;

  width: 20%;

  overflow-x: auto;
  overflow-y: scroll;
  margin-top: 5em;
}

.DocsContent {
  border: 1px solid black;

  flex-grow: 1;
  width: 80%;
  // height: fit-content;
  height: 300vh;
  margin-left: 20%;
}
