.Docs {
  display: block;
  position: relative;
  width: 100%;
  height: fit-content;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background: rgb(17, 18, 49);
  color: #fff;
}

.DocsHeader {
  display: flex;
  position: fixed;
  width: 20%;
  height: calc(5em - 1.3em - 2px);

  font-size: 1.4em;

  justify-content: center;
  padding-top: 1.3em;

  // border: 1px solid black;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.DocsBody {
  display: block;
  position: relative;
  width: 100%;
  height: fit-content;
  //padding-top: 5em;
}

.DocsSidebar {
  display: block;
  position: fixed;
  height: calc(100% - 5em);
  // border: 1px solid red;

  width: 20%;

  overflow-x: auto;
  overflow-y: auto;
  margin-top: 5em;
  border-right: 1px solid #fff;
}

.DocsContent {
  // border: 1px solid black;

  flex-grow: 1;
  width: 80%;
  height: fit-content;
  // min-height: 200vh;
  // height: 300vh;
  margin-left: 20%;
  padding-bottom: 100vh;
}
