.PortalMembers {
  display: block;
  position: relative;
  padding: 5em;
}

.Table {
  margin-top: 10px;
  //   table-layout: fixed;
  border-collapse: collapse;

  .Name,
  th:nth-child(1) {
    padding: 10px 2em;
    text-transform: capitalize;
  }

  .Email,
  th:nth-child(2) {
    padding: 10px 2em;
  }

  .Role,
  th:nth-child(3) {
    padding: 10px 5em;
    text-transform: capitalize;
  }

  .Enabled,
  th:nth-child(4) {
    padding: 10px 5em;
    text-transform: capitalize;
  }

  .Actions,
  th:nth-child(5) {
    padding: 10px 0;
  }

  .Actions {
    text-align: center;
  }

  th,
  td {
    border-bottom: 0.05em solid var(--borderColor);
  }

  th,
  td {
    padding: 10px 20px;
    width: fit-content;
  }

  th {
    text-align: left;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 1.5em !important;
    color: #7d7d7d;
    > img {
      height: 1em;
      padding-right: 0.25em;
      transform: translateY(2px);
      width: auto;
      // color match text
      filter: var(--svgFilter);
      // color match heading
      // filter: invert(54%) sepia(0%) saturate(123%) hue-rotate(174deg)
      //   brightness(91%) contrast(86%);
    }
  }

  tbody {
    border-top: none;
    border-spacing: inherit;
    // & > tr {
    //   &:nth-child(2n + 2) {
    //     // background: rgba($color: #ccc, $alpha: 0.2);
    //   }
    // }
  }

  ._Enabled {
    color: green;
  }
  ._Disabled {
    color: red;
  }

  ._Enabled, ._Disabled {
    font-weight: 700;
  }
}
