.PortalMembers {
  display: block;
  position: relative;
  padding: 5em;
}

.MemberActions {
  position: relative;
  padding: 1em 0;
  gap: 1em;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  > .Action {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 0.5em 1em;
    background: none;
    border: 2px solid var(--borderColor);
    border-radius: 100px;
    color: inherit;
    font-size: 1em;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: var(--hover);
    }
  }
}

.Link {
  color: inherit;
  display: block;
  width: fit-content;
}

.Table {
  margin-top: 10px;
  //   table-layout: fixed;
  border-collapse: collapse;

  .Name,
  th:nth-child(1) {
    padding: 10px 2em;
    text-transform: capitalize;
  }

  .Email,
  th:nth-child(2) {
    padding: 10px 2em;
  }

  .Role,
  th:nth-child(3) {
    padding: 10px 2em;
    text-transform: capitalize;
  }

  .Enabled,
  th:nth-child(4) {
    padding: 10px 2em;
    text-transform: capitalize;
  }

  .LastLoggedOn,
  th:nth-child(5) {
    padding: 10px 2em;
    text-transform: capitalize;
  }

  .Actions,
  th:nth-child(6) {
    padding: 10px 0;
  }

  .Actions {
    text-align: center;
  }

  th,
  td {
    border-bottom: 0.05em solid var(--borderColor);
  }

  th,
  td {
    padding: 10px 20px;
    width: fit-content;
  }

  th {
    text-align: left;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 1.5em !important;
    color: #7d7d7d;

    &:nth-child(-n + 5) {
      cursor: pointer;
      transition: var(--animDuration) color ease;
      &:hover {
        color: var(--foreground);
      }
    }
    > img {
      height: 1em;
      padding-right: 0.25em;
      transform: translateY(2px);
      width: auto;
      // color match text
      filter: var(--svgFilter);
      // color match heading
      // filter: invert(54%) sepia(0%) saturate(123%) hue-rotate(174deg)
      //   brightness(91%) contrast(86%);
    }
    .SortIcon {
      padding-left: 0.4em;
    }
  }

  tbody {
    border-top: none;
    border-spacing: inherit;
    // & > tr {
    //   &:nth-child(2n + 2) {
    //     // background: rgba($color: #ccc, $alpha: 0.2);
    //   }
    // }
  }

  ._Enabled {
    color: green;
  }
  ._Disabled {
    color: red;
  }

  ._Enabled,
  ._Disabled {
    font-weight: 700;
  }
}

.ModalHighlight {
  color: red;
}
