.PortalMembers {
  display: block;
  position: relative;
  padding: 5em;
}

.Table {
  margin-top: 10px;
  //   table-layout: fixed;
  border-collapse: collapse;

  .Name,
  th:nth-child(1) {
    padding: 10px 2em;
  }

  .Email,
  th:nth-child(2) {
    padding: 10px 2em;
  }

  .Role,
  th:nth-child(3) {
    padding: 10px 5em;
  }

  .Enabled,
  th:nth-child(4) {
    padding: 10px 5em;
  }

  .Actions,
  th:nth-child(5) {
    padding: 10px 0;
  }

  .Actions {
    text-align: center;
  }

  th,
  td {
    border-bottom: 0.05em solid var(--borderColor);
  }

  th,
  td {
    padding: 10px 20px;
    width: fit-content;
  }

  th {
    text-align: left;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 1.5em !important;
    color: var(--borderColor);
  }

  tbody {
    border-top: none;
    border-spacing: inherit;
    // & > tr {
    //   &:nth-child(2n + 2) {
    //     // background: rgba($color: #ccc, $alpha: 0.2);
    //   }
    // }
  }
}
