//the entire sidebar item
.DocsSidebarItem {
  height: fit-content;
  padding: 4px 20px;

  &:hover {
    // filter: invert(0.4);
    background: rgba($color: #000000, $alpha: 0.1);
  }
}

//all links
.Link {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

//the little GET, POST, or PUT in front
.RequestType {
  width: 14%;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.22em 8px;
  padding-left: 0;
}

//the rest of the label aside from .RequestType
.ItemLabel {
  flex-grow: 1;
  text-align: left;
}

//.ItemLabel if it doesn't have a .RequestType
// .ItemLabelAlone {
// }

//the .RequestType label for GET requests
.ItemLabelGET {
  color: rgb(17, 179, 17);
}

//the .RequestType label for post requests
.ItemLabelPOST {
  color: rgb(211, 211, 61);
}

//the .RequestType label for PUT requests
.ItemLabelPUT {
  color: gray;
}
