.DocsSidebarHeader {
  display: block;
  position: relative;
  //   background-color: aqua;
  padding: 4px 10px;
  width: 100%;

  &:hover {
    // filter: invert(0.4);
    background: rgba($color: #000000, $alpha: 0.1);
  }
}

//all links
.Link {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
}
