.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  color: var(--foreground);
  font-size: 5em;
  font-weight: 700;
  > span {
    animation: offset 8s infinite;
    opacity: 0;

    color: var(--theme);

    &:nth-child(1) {
      animation-delay: 1s;
    }
    &:nth-child(2) {
      animation-delay: 2s;
    }
    &:nth-child(3) {
      animation-delay: 3s;
    }
    &:nth-child(4) {
      animation-delay: 4s;
    }
  }
}

@keyframes offset {
  0% {
    opacity: 0;
  }
  //   49% {
  //     opacity: 0;
  //   }
  //   50% {
  //     opacity: 1;
  //   }
  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}
